<fieldset id='dodge' class='form-group row'>
  <legend><%= t('.dodge') %></legend>
  <div class='col-12'>
    <div class='row'>
      <div class='col-12 col-md-6 col-lg-6'>
        <div class='row'>
          <div class='col-6'>
            <p class='font-weight-bold'>Dodge (Basic Speed + 3)</p>
          </div>
          <div class='col-6'>
            <p><%= sheet.dodgenone %></p>
          </div>
        </div>

        <div class='row'>
          <div class='col-6'>
            <p class='font-weight-bold'>Dodge - 1</p>
          </div>
          <div class='col-6'>
            <p><%= sheet.dodgelight %></p>
          </div>
        </div>

        <div class='row'>
          <div class='col-6'>
            <p class='font-weight-bold'>Dodge - 2</p>
          </div>
          <div class='col-6'>
            <p><%= sheet.dodgemedium %></p>
          </div>
        </div>

        <div class='row'>
          <div class='col-6'>
            <p class='font-weight-bold'>Dodge - 3</p>
          </div>
          <div class='col-6'>
            <p><%= sheet.dodgeheavy %></p>
          </div>
        </div>

        <div class='row'>
          <div class='col-6'>
            <p class='font-weight-bold'>Dodge - 4</p>
          </div>
          <div class='col-6'>
            <p><%= sheet.dodgexheavy %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
