<fieldset id='dr' class='form-group row'>
  <legend><%= t('.dr') %></legend>
    <div class='col-12'>

      <div class='row'>
        <div class='col-12 col-md-5 col-lg-5'>
          <div class='row'>
            <div class='col-3'>
              <p class='font-weight-bold'>Head</p>
            </div>

            <div class='col-9'>
              <p><%= sheet.drhead %></p>
            </div>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-12 col-md-5 col-lg-5'>
          <div class='row'>
            <div class='col-3'>
              <p class='font-weight-bold'>Torso</p>
            </div>

            <div class='col-9'>
              <p><%= sheet.drtorso %></p>
            </div>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-12 col-md-5 col-lg-5'>
          <div class='row'>
            <div class='col-3'>
              <p class='font-weight-bold'>Arm</p>
            </div>

            <div class='col-9'>
              <p><%= sheet.drarm %></p>
            </div>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-12 col-md-5 col-lg-5'>
          <div class='row'>
            <div class='col-3'>
              <p class='font-weight-bold'>Hand</p>
            </div>

            <div class='col-9'>
              <p><%= sheet.drhand %></p>
            </div>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-12 col-md-5 col-lg-5'>
          <div class='row'>
            <div class='col-3'>
              <p class='font-weight-bold'>Leg</p>
            </div>

            <div class='col-9'>
              <p><%= sheet.drleg %></p>
            </div>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-12 col-md-5 col-lg-5'>
          <div class='row'>
            <div class='col-3'>
              <p class='font-weight-bold'>Foot</p>
            </div>

            <div class='col-9'>
              <p><%= sheet.drfoot %></p>
            </div>
          </div>
        </div>
      </div>

    </div>
</fieldset>
