<fieldset id='points' class='form-group row'>
  <legend><%= t('.points_summary') %></legend>
  <div class='col-12'>
    <div class='row'>
      <div class='col-12'>
        <div class='row'>
          <div class='col-9'>
            <p class='font-weight-bold'>Attributes</p>
          </div>

          <div class='col-3'>
            <p><%= sheet.sumatts %></p>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-12'>
        <div class='row'>
          <div class='col-9'>
            <p class='font-weight-bold'><%= t('.advantages') %></p>
          </div>

          <div class='col-3'>
            <p><%= sheet.sumads %></p>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-12'>
        <div class='row'>
          <div class='col-9'>
            <p class='font-weight-bold'><%= t('.disadvantages') %></p>
          </div>

          <div class='col-3'>
            <p><%= sheet.sumdisads %></p>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-12'>
        <div class='row'>
          <div class='col-9'>
            <p class='font-weight-bold'><%= t('.skills') %></p>
          </div>

          <div class='col-3'>
            <p><%= sheet.sumskills %></p>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-12'>
        <div class='row'>
          <div class='col-9'>
            <p class='font-weight-bold'><%= t('.other') %></p>
          </div>

          <div class='col-3'>
            <p><%= sheet.sumother %></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</fieldset>
