<fieldset id='reaction_modifiers' class='form-group row'>
  <legend><%= t('.reaction_modifiers') %></legend>
  <div class='col-12'>

    <div class='row'>
      <div class='col-12 col-md-6 col-lg-6'>
        <p title="<%= t('.appearance_reaction') %>" data-toggle='tooltip' data-placement='top'><%= sheet.appearancereaction %></p>
      </div>
    </div>

    <div class='row'>
      <div class='col-12 col-md-6 col-lg-6'>
        <p title="<%= t('.status') %>" data-toggle='tooltip' data-placement='top'><%= sheet.status %></p>
      </div>
    </div>

    <% 0.upto(4) do |i| %>
      <div class='row'>
        <div class='col-12 col-md-6 col-lg-6'>
          <p title="<%= t('.reputation') %>" data-toggle='tooltip' data-placement='top'><%= sheet.send(:"reputation_#{i}") %></p>
        </div>
      </div>
    <% end %>

  </div>
</fieldset>
