<div class='row justify-content-center'>
  <div class='col-sm-8 col-md-8 col-lg-6'>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.email_field :email, placeholder: t('.email'), autofocus: true, class: 'form-control' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: t('.password'), class: 'form-control' %>
        <% if @minimum_password_length %>
          <br />
          <em class='text-muted'><%= @minimum_password_length %> <%= t('.minimum_characters') %></em>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: t('.password_confirmation') %>
      </div>

      <div class="form-group">
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: t('.current_password') %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: 'btn btn-success' %>
      </div>
    <% end %>

    <hr />
    <h4 class='text-danger'><%= t('.cancel_account') %></h4>

    <p>Unhappy? <%= button_to t('.cancel_account'), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
  </div>
</div>
