<fieldset id='dr' class='form-group row'>
  <legend><%= t('.dr') %></legend>
    <div class='col-12'>

      <div class='row'>
        <div class='col-12 col-md-5 col-lg-5'>
          <div class='form-group row'>
            <%= f.label :drhead, t('.head'), class: 'col-form-label col-3 font-weight-bold' %>
            <div class='col-9'>
              <%= f.text_field :drhead, class: 'form-control', placeholder: t('.dr_head') %>
            </div>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-12 col-md-5 col-lg-5'>
          <div class='form-group row'>
            <%= f.label :drtorso, t('.torso'), class: 'col-form-label col-3 font-weight-bold' %>
            <div class='col-9'>
              <%= f.text_field :drtorso, class: 'form-control', placeholder: t('.dr_torso') %>
            </div>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-12 col-md-5 col-lg-5'>
          <div class='form-group row'>
            <%= f.label :drarm, t('.arm'), class: 'col-form-label col-3 font-weight-bold' %>
            <div class='col-9'>
              <%= f.text_field :drarm, class: 'form-control', placeholder: t('.dr_arm') %>
            </div>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-12 col-md-5 col-lg-5'>
          <div class='form-group row'>
            <%= f.label :drhand, t('.hand'), class: 'col-form-label col-3 font-weight-bold' %>
            <div class='col-9'>
              <%= f.text_field :drhand, class: 'form-control', placeholder: t('.dr_hand') %>
            </div>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-12 col-md-5 col-lg-5'>
          <div class='form-group row'>
            <%= f.label :drleg, t('.leg'), class: 'col-form-label col-3 font-weight-bold' %>
            <div class='col-9'>
              <%= f.text_field :drleg, class: 'form-control', placeholder: t('.dr_leg') %>
            </div>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-12 col-md-5 col-lg-5'>
          <div class='form-group row'>
            <%= f.label :drfoot, t('.foot'), class: 'col-form-label col-3 font-weight-bold' %>
            <div class='col-9'>
              <%= f.text_field :drfoot, class: 'form-control', placeholder: t('.dr_foot') %>
            </div>
          </div>
        </div>
      </div>

    </div>
</fieldset>
