<% content_for :title do %>
  <%= character_sheet.character_name %>
<% end %>

<!-- General section -->
<div class='row'>
  <div class='col-4'>
    <p><%= character_sheet.character_name %></p>
  </div>

  <div class='col-4'>
    <p><%= character_sheet.game_name %></p>
  </div>

  <div class='col-4'>
    <p><%= character_sheet.player_name %></p>
  </div>
</div>
<!-- END General section -->

<!-- Description section -->
<div class='row'>
  <div class='col'>
    <p class='mt-4'><%= character_sheet.description %></p>
  </div>
</div>
<!-- END Description section -->

<!-- Hero Points section -->
<div class='row mt-4'>
  <div class='col'>
    <h4 class='hero-quest-header text-center'><%= t('.hero_points') %></h4>
  </div>
</div>

<div class='row justify-content-center'>
  <div class='col-4'>
    <p class='display-4 text-center'><b><%= character_sheet.hero_points %></b></p>
  </div>
</div>
<!-- END Hero Points section -->

<div class='row'>
  <!-- Abilities section -->
  <div class='grid-row col-xs-12 col-sm-12 col-md-6 col-lg-4'>
    <div class='row'>
      <div class='col-2'>
        <p class='mt-4'>
          <h4 class='hero-quest-header'><%= t('.abilities') %></h4>
        </p>
      </div>
    </div>

    <% 1.upto CharacterSheets::HeroQuest::ABILITIES do |i| %>
      <% if character_sheet.send("ability#{i}").present? %>
        <div class='row'>
          <div class='col-9 col-xs-10 col-sm-10'>
            <p><%= character_sheet.send("ability#{i}") %></p>
          </div>

          <div class='col-3 col-xs-2 col-sm-2'>
            <p class='text-center'><b><%= character_sheet.send("ability_num#{i}") %></b></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- END Abilities section -->

  <!-- Flaws section -->
  <div class='grid-row col-xs-12 col-sm-12 col-md-6 col-lg-4'>
    <div class='row'>
      <div class='col-2'>
        <p class='mt-4'>
          <h4 class='hero-quest-header'><%= t('.flaws') %></h4>
        </p>
      </div>
    </div>
    <% 1.upto CharacterSheets::HeroQuest::FLAWS do |i| %>
      <% if character_sheet.send("flaw#{i}").present? %>
        <div class='row'>
          <div class='col-9 col-xs-10 col-sm-10'>
            <p><%= character_sheet.send("flaw#{i}") %></p>
          </div>

          <div class='col-3 col-xs-2 col-sm-2'>
            <p class='text-center'><b><%= character_sheet.send("flaw_num#{i}") %></b></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- END Flaws section -->

  <!-- Benefits/penalties section -->
  <div class='grid-row col-xs-12 col-sm-12 col-md-6 col-lg-4'>
    <div class='row'>
      <div class='col-12'>
        <p class='mt-4'>
          <h4 class='hero-quest-header'><%= t('.benefits') %></h4>
        </p>
      </div>
    </div>
    <% 1.upto CharacterSheets::HeroQuest::BENEFITS do |i| %>
      <% if character_sheet.send("benefit#{i}").present? %>
        <div class='row'>
          <div class='col-9 col-xs-10 col-sm-10'>
            <p><%= character_sheet.send("benefit#{i}") %></p>
          </div>

          <div class='col-3 col-xs-2 col-sm-2'>
            <p class='text-center'><b><%= character_sheet.send("benefit_num#{i}") %></b></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- END Flaws section -->
</div>

<!-- Notes section -->
<div class='row mt-4'>
  <div class='col'>
    <div class='form-group'>
      <p><%= character_sheet.notes %></p>
    </div>
  </div>
</div>
<!-- END Notes section -->
<hr />
