<p>
  <div class="input-group">
    <input type="text" class="form-control JS_input_<%= object.id %>" value='<%= share_link(object) %>' />

    <span class="input-group-btn">
      <button type='button' class="btn btn-secondary copy-button" data-clipboard-text="<%= share_link(object) %>">
        <%= fa_icon 'floppy-o' %>
      </button>
    </span>
  </div>
</p>

<p>
  <%= link_to t('helpers.create_link'),
    shareable_links_path(character_sheet_id: object.id),
    remote: true,
    method: :post,
    class: 'text-success' %>

  <% if object.shareable_link.present? %>
    <span class='JS_remove_link_<%= object.id %> float-right'>
    <%= link_to t('helpers.remove_link'),
      shareable_link_path(character_sheet_id: object.id, token: object.shareable_link.token),
      remote: true,
      method: :delete,
      data: { confirm: t('helpers.remove_share_confirmation') },
      class: 'text-danger' %>
    </span>
  <% end %>
</p>
