<div class='col text-right actions-icons hidden-lg-up'>
  <%= link_to edit_character_sheet_path(object), class: 'text-secondary' do %>
    <%= fa_icon 'pencil' %>
  <% end %>

  <%= link_to 'javascript:void(0)',
    class: 'text-success',
    tabindex: 0,
    role: 'button',
    title: t('.share'),
    data: { toggle: 'popover', placement: 'left', 'content-id': dom_id(object)} do %>
    <%= fa_icon 'link' %>
    <%= fa_icon 'caret-down' %>
  <% end %>

  <%= link_to export_character_sheet_path(object), target: '_blank', class: 'text-primary' do %>
    <%= fa_icon 'file-pdf-o' %>
  <% end %>

  <%= link_to character_sheet_path(object), method: :delete, class: 'text-danger', data: { confirm: 'Are you sure?' } do %>
    <%= fa_icon 'trash-o' %>
  <% end %>
</div>

<div class='col text-right actions hidden-md-down'>
  <%= link_to edit_character_sheet_path(object), class: 'btn btn-sm btn-secondary' do %>
    <%= fa_icon 'pencil', text: 'Edit' %>
  <% end %>

  <%= link_to 'javascript:void(0)',
    class: 'btn btn-sm btn-success',
    tabindex: 0,
    role: 'button',
    title: t('character_sheets.actions.share'),
    data: { toggle: 'popover', animation: false, placement: 'top', 'content-id': dom_id(object)} do %>
    <%= fa_icon 'link', text: 'Share' %>
    <%= fa_icon 'caret-down' %>
  <% end %>

  <%= link_to export_character_sheet_path(object), target: '_blank', class: 'btn btn-sm btn-primary' do %>
    <%= fa_icon 'file-pdf-o', text: 'Export' %>
  <% end %>

  <%= link_to character_sheet_path(object), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: 'Are you sure?' } do %>
    <%= fa_icon 'trash-o', text: 'Delete' %>
  <% end %>
</div>

<%= render 'popover_content', object: object %>
