<%= render 'profiles/profile_navbar' %>

<div class='container'>
  <%= form_for @character_sheet, as: :character_sheet, url: character_sheet_path(@character_sheet), method: :put do |f| %>
  <div class='row'>
    <div class='col'>
      <hr class='my-5' />

      <div class='row align-items-center'>
        <div class='col-12 text-center'>
          <%= render 'character_sheets/logo_resolver', character_sheet: @character_sheet %>
        </div>
      </div>

      <hr class='my-5' />
    </div>
  </div>

  <%= render 'jump_to_sections', character_sheet: @character_sheet %>

    <%= render 'character_sheets/form_resolver', f: f %>
    <div class='row'>
      <div class='col'>
        <%= f.submit t('.update'), class: 'btn btn-md btn-success' %>
        <%= link_to t('.export'), export_character_sheet_path(@character_sheet), target: '_blank', class: 'btn btn-md btn-primary' %>
        <%= link_to t('.view'), character_sheet_path(@character_sheet), class: 'btn btn-md btn-secondary' %>
        <%= link_to t('.back'), character_sheets_profile_path, class: 'btn btn-md btn-secondary' %>
      </div>
    </div>
  <% end%>
</div>
