<%= render 'profiles/profile_navbar' %>

<div class='container'>
  <div class='row'>
    <div class='col'>
      <hr class='my-5' />

      <div class='row align-items-center'>
        <div class='col-12 col-md-12 col-lg-6 text-center'>
          <p><%= render 'logo_resolver', character_sheet: @character_sheet %></p>
        </div>

        <div class='col-12 col-md-12 col-lg-6 text-center'>
          <p><%= render 'manage_buttons', character_sheet: @character_sheet %></p>
        </div>
      </div>

      <hr class='my-5' />
    </div>
  </div>

  <%= render 'character_sheets/show_resolver', character_sheet: @character_sheet %>

  <p id='footer-manage-buttons'>
    <%= render 'manage_buttons', character_sheet: @character_sheet %>
  </p>
</div>

<%= render 'popover_content', object: @character_sheet %>
