<div class='container'>
  <div class='row'>
    <div class='col game-system-logo my-5'>
      <%= render 'logo_resolver', character_sheet: @character_sheet %>
    </div>
  </div>

  <%= render 'character_sheets/show_resolver', character_sheet: @character_sheet %>

  <div class='row'>
    <div class='col'>
      <%= link_to t('.edit'), edit_character_sheet_path(@character_sheet), class: 'btn btn-md btn-success' %>
      <%= link_to t('.export'), export_character_sheet_path(@character_sheet), target: '_blank', class: 'btn btn-md btn-primary' %>
      <%= link_to t('.back'), character_sheets_profile_path, class: 'btn btn-md btn-secondary' %>
    </div>
  </div>
</div>
