<div class='container navbar navbar-toggleable-sm'>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <%= fa_icon 'bars' %>
  </button>
  <%= link_to 'Character Sheets', root_path, class: 'navbar-brand' %>

  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <ul class='navbar-nav ml-auto'>
    <% if user_signed_in? %>
      <li class='nav-item'>
        <%= link_to t('.profile'), root_path, class: "nav-link #{active_for(['registrations#edit', 'profiles#character_sheets'])}" %>
      </li>

      <li class='nav-item'>
        <%= link_to t('.log_out'), destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
    <% else %>
      <li class='nav-item'>
        <%= link_to t('.sign_in'), new_user_session_path, class: 'nav-link' %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
