<div class='col-12 col-md-4 col-lg-4'>
  <%= link_to fate_new_character_sheet_path, class: 'hvr-grow-rotate' do %>
    <%= image_tag('fate-logo.png', size: '150x73', class: 'mb-4') %>
  <% end %>
</div>

<div class='col-12 col-md-4 col-lg-4'>
  <%= link_to hero_quest_new_character_sheet_path, class: 'hvr-grow-rotate' do %>
    <%= image_tag('hero-quest-logo.png', size: '300x65', class: 'mb-4') %>
  <% end %>
</div>

<div class='col-12 col-md-4 col-lg-4'>
  <%= link_to fae_new_character_sheet_path, class: 'hvr-grow-rotate' do %>
    <%= image_tag('fae-logo.png', size: '150x73', class: 'mb-4') %>
  <% end %>
</div>

<div class='col-12 col-md-4 col-lg-4 offset-md-4 offset-lg-4'>
  <%= link_to gurps_new_character_sheet_path, class: 'hvr-grow-rotate' do %>
    <%= image_tag('gurps-logo.png', size: '200x73', class: 'mb-4') %>
  <% end %>
</div>
