<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || 'Character Sheets' %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'header' %>
    </header>

    <%= render 'notifications' %>

    <%= yield %>

    <footer>
      <%= render 'footer' %>
    </footer>
  </body>
</html>
