<!DOCTYPE html>
<html>
  <head>
    <title>Chargen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='navbar'>
      <ul class='nav navbar-nav float-md-right'>
        <li class='nav-item'>
          <%= link_to 'Sign In / Register', 'void(0);', class: 'nav-link' %>
        </li>
      </ul>
    </nav>

    <%= yield %>

    <footer>
      Footer
    </footer>
  </body>
</html>
